spring:
  application:
    name: notification-service

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:35432/postgres}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}

  jpa:
    open-in-view: false
    show-sql: true

  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}

  mail:
      host: ${MAIL_HOST:127.0.0.1}
      port: ${MAIL_PORT:1025}
      username: ${MAIL_USERNAME:PLACEHOLDER}
      password: ${MAIL_PASSWORD:PLACEHOLDER}
      properties:
        mail:
          smtp:
            auth: true
            starttls:
              enable: true

# RabitMq ques names
notifications:
  support-email: hanyeltohamy1@gmail.com
  catalog-service-url: http://localhost:8081
  exchange: orders-exchange
  new-queue: new-orders
  delivered-queue: delivered-orders
  cancelled-queue: cancelled-orders
  error-queue: error-orders


management:
  info:
    git:
      mode: full
  endpoints:
    web:
      exposure:
        include: "*"
  metrics:
    tags:
      application: ${spring.application.name}
  tracing:
    enabled: false
    sampling:
      probability: 1.0

server:
  port: 8083
  shutdown: graceful

